extends layout

block content
    .inner
        h2 Edit your profile
        form.form(action='/account' method="POST")
            label(for='name') Name
            input(type="text" name="name" value=`${user.name}`)
            label(for="email") Email Address
            input(type="email" name="email" value=`${user.email}`)
            input.button(type="submit" value="Update your profile")

