extends layout

block content
    .inner
        form.form(method="POST")
            h2 Reset Your Password
            label(for="password") New Password
            input(name="password" type="password")
            label(for="confirmPassword") Confirm Password
            input(name="confirmPassword" type="password")
            input.button(type="submit" value="Reset Password →")