extends layout
include mixins/_reviewForm
include mixins/_reviews
block content
    .single
        .single__hero
            img.single__image(src=`/uploads/${store.photo || 'store.png'}`)
            h2.title.title--single
                a(href=`/stores/${store.slug}`) #{store.name}

    .single__details.inner
        img.single__map(src=h.staticMap(store.location.coordinates))
        p.single__location= store.location.address
        p= store.description

        if store.tags
            ul.tags
                each tag in store.tags
                    li.tag
                        a.tag__link(href=`/tags/${tag}`)
                            span.tag__text #{tag}

        if user
            +revieForm(store)

        if store.reviews
            .reviews
                each rev in store.reviews
                    .review
                        +review(rev)