extends layout

include mixins/_storeCard
include mixins/pagination

block content
    .inner
        h2= title
        .stores
            each store in stores
               +storeCard(store)
        +pagination(page, pages, count)

