mixin revieForm(store)
    form(action=`/review/${store._id}` method="POST")
        textarea(name="text" placeholder="got something to say? well...go on then!")
        .reviewer__meta
            .reviewer__stars
                each num in [5, 4, 3, 2, 1]
                    input(type="radio" required id=`star${num}` name='rating' value=num)
                    label(for=`star${num}`) #{num} stars
            input.button(type="submit" value="Submit Review")
